<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->

 <widget id="com.16mb.camel-game" version="0.5.1">
        <name>Camel Spit and Run</name>
        <description>
            Camel spit on tourist and runs.
        </description>
        <author email="ipz11ukr@gmail.com" href="https://github.com/yaKostin/Camel-Spit-Run-game">
           Kostin Yaroslav
		   Basanets Daniil
		   Yampolskij Sergey
		   Kovalenko Yaroslava
		   Chornaya Anastasiya
		   Litvyak Alexey
        </author>
        <content src="index.html" />
        <access origin="*" />		
		
		<preference name="permissions"                value="none"/>
		
		 <!-- Customize your app and platform with the preference element. -->
		<preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
		<preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
		<preference name="exit-on-suspend"            value="true" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
		<preference name="orientation" value="landscape" />
		<preference name="android-installLocation"    value="preferExternal" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
		<!-- Plugins -->

		<!-- Core plugins -->
		 <gap:plugin name="org.apache.cordova.console" />
		 <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
	 <gap:plugin name="org.apache.cordova.media" />
	
    </widget>
