.progressBar {
	float: right;
	width: 400px;
	height: 22px;
	border: 1px solid #111;
	background-color: #292929;
}
 
.progressBar div {
	height: 100%;
	color: #fff;
	text-align: right;
	line-height: 22px; 
	width: 0;
	background-color: #0099ff;
}

#progress {
	width:963px;
	position:absolute; 
	height:30px; 
	z-index:1000; 
	right: 10px; 
	top:10px;
	}

#health {
	width:431;
	float:right; 
	margin-left:100px;
}

#water {
	width:423;
}

img {
	height:22px;
}